<h2>Add new ToDo</h2>
<form [formGroup]="todoForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title"/>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Detail</mat-label>
        <textarea matInput formControlName="detail"></textarea>
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="space-around center">
        <button mat-raised-button type="submit">Submit</button>
        <button mat-raised-button (click)="onCancel()">Cancel</button>
    </div>
</form>